.form {
	display: flex;
	max-width: 800px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.form__content-wrapper {
	width: 740px;
	margin: 30px auto;
}

.header {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 20px;
}



