.field-group {
	display: flex;
	align-items: flex-end;
	margin-bottom: 5px;
}

.field {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.field__input {
	padding: 5px;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.field__input_error {
	border-color: red;
}