.form {
	display: flex;
	max-width: 800px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.form__content-wrapper {
	width: 740px;
	margin: 30px auto;
}

.header {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 20px;
}

.field-group {
	display: flex;
	align-items: flex-end;
	margin-bottom: 5px;
}

.field {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.label {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
	color: rgba(0, 0, 0, 0.6);
}

.field__input {
	padding: 5px;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.field__input_error {
	border-color: red;
}

.error__message_active {
	font-size: 12px;
	color: red;
}

.error__message_hidden {
	height: 15px;
	visibility: hidden;
}

.message__subject {
	margin-bottom: 20px;
}

.message__text {
	width: 740px;
	height: 140px;
	resize: none;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.message__text_error {
	border-color: red
}

.form__file-input {
	display: flex;
}

.form__file-input-label {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 20px;
	color: #0055fb;
	margin: 10px 0 20px;
}

.form__file-input-label-name {
	margin-left: 5px;
}

.form__file-input-error-message {
	margin: auto;
	color: red;
}

.list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.attachement {
	display: grid;
	width: 365px;
	grid-template-columns: 60px 1fr 100px;
	grid-template-rows: 50px;
	width: 365px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 10px;
	align-items: center;
}

.big-clip-icon {
	justify-self: center;
}

.attachement__name {
	display: flex;
	width: 180px;
	justify-content: flex-start;
}

.attachement__file-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.attachement__remove {
	cursor: pointer;
	justify-self: flex-start;
}

.ttachement__remove-label {
	font-size: 16px;
	color: #ff6666;
	margin-left: 5px;
}
