.modal {
    padding: 110px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__header {
    font-size: 30px;
    line-height: 40px;
}

.modal__message {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding: 10px 0;
}